html, body{
    background-color: #666;
}

#container{
    width: 1024px;
    margin: 0 auto;
    font-family: "Ubuntu Mono";
    background-color: #999;
    position: relative;
    top: -25px;    
}

#container h1{
    text-align: center;
}

#keyboard{
    width: 250px;
    float: left;
    cursor: default;
    font-size: 14px;
}

#keyboard .row{
    display: block;
    width: 100%;
    position: relative;
    height: 45px;
}

#keyboard .row .doubleSpace{
    margin-right:30px;
}

#keyboard .row .singleSpace{
    margin-right: 15px;
}

#keyboard .row .key{
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
    margin: 5px;
    z-index: 100;
    background-color: #eaeaea;
}

#keyboard .row .key.active{
    background-color: #666;
    color: white;
}

#keyboard .row .key:hover{
    background-color: #aaa;
}

#keyboard .row .key.active:hover{
    background-color: #666;
}

#keyboard .row .key.disabled, #keyboard .row .key.disabled:hover{
    background-color: #666;
    color: #dadada
}

#keyboard .row .key.doubleHeight{
    height: 81px;
    z-index: 101;
}

#keyboard .row .key.doubleWidth{
    width: 86px;
}

#selections{
    float: left;
    width: 425px;
}

#gunList{
    height: 300px;
    overflow-y: scroll;
}

#gunList h3{
    margin-top: 0px;
    margin-bottom: 5px;
}

#currentBind{
    margin: 5px 0px;
}

#instructions{
    width: 300px;
    float: right;
}

#commit{
    font-family: "Ubuntu Mono";
}

#binds{
    background-color: #eaeaea;
    clear: both;
    width: 700px;
    margin: 25px 150px;
    height: 250px;
    border: 1px solid black;
    font-family: "Ubuntu Mono";
}